@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 0.5;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@-webkit-keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  margin-top: 10vh;
  height: 47vh;
  z-index: 100;
  -webkit-animation: fade-in 3.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 3.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 2.5s;
}
.header__container {
  max-width: 180rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header .text .text__heading {
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  background: #f25c78;
  background: linear-gradient(276deg, #f25c78 4%, #f27d52 62%, #f26b5e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1rem;
}
.header .text__subheading {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.header .text__info {
  font-size: 2rem;
  font-weight: 300;
  width: 45%;
  line-height: 1.9;
  color: #525252;
}
.header img {
  height: 4rem;
  margin-bottom: 4rem;
}
.header .hand-bg {
  position: relative;
}
.header .hand-bg .hands {
  height: 80rem;
  position: absolute;
  left: -95rem;
  top: -35rem;
}

.nav-menu {
  background: #F27D52;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 300;
  transition: 0.5s all ease-in;
  transform: translate3d(100%, 0, 0);
}
.nav-menu .nav-menu-logo {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 2rem;
  left: 5rem;
}
.nav-menu .nav-menu-logo img {
  height: 4rem;
}
.nav-menu .nav-menu-logo h3 {
  font-size: 2.5rem;
  margin-left: 1rem;
  color: white;
}
.nav-menu .socials {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  left: 5rem;
  font-size: 4rem;
}
.nav-menu .socials a {
  margin-left: 1rem;
  color: #F2388F;
}
.nav-menu .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 2rem;
  right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: white;
}
.nav-menu .copyright .middle-dot {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 3rem;
  color: #F2388F;
}
.nav-menu .close-nav-menu {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  cursor: pointer;
}
.nav-menu .close-nav-menu .close-out {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: white;
}
.nav-menu .close-nav-menu .fa-times {
  margin-right: 5rem;
  margin-left: 0.4rem;
  font-size: 3.5rem;
  color: #F2388F;
}
.nav-menu .menu {
  position: absolute;
  top: 25rem;
  margin-right: 1rem;
}
.nav-menu .menu .m-list-item {
  font-size: 8rem;
  display: flex;
  align-items: center;
}
.nav-menu .menu .m-list-item .hover-state {
  font-size: 5rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  color: #F2388F;
}
.nav-menu .menu .m-list-item .hover-state--show {
  margin-left: 2rem;
  visibility: visible;
  opacity: 1;
}
.nav-menu .menu .m-list-item .menu-link {
  margin-left: 2rem;
  color: white;
}
.nav-menu .menu .m-list-item .menu-link:hover {
  color: #F2388F;
  transition: 0.2s all ease-in-out;
}

.nav-menu--show {
  transform: translate3d(0%, 0, 0);
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #F27D52;
  z-index: 1000;
  visibility: hidden;
  transition: 0.2s ease-in;
}
.loading .loading-gif {
  height: 35rem;
}
.loading .loading-text {
  color: white;
  font-size: 4rem;
  -webkit-animation: heartbeat 2.5s ease-in-out infinite both;
  animation: heartbeat 2.5s ease-in-out infinite both;
}
.loading .loading-bar {
  width: 30rem;
  height: 3rem;
  border: 0.2rem solid white;
  margin-top: 2rem;
}
.loading .loading-bar .load {
  background: #F25C78;
  height: 100%;
  width: 0%;
  transition: 0.2s ease-in;
}

.show-loading-screen {
  visibility: visible;
}

.navbar {
  margin-top: 13rem;
  font-family: "Open Sans", sans-serif;
}
.navbar .container {
  max-width: 180rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 2rem;
  position: relative;
}
.navbar__logo img {
  height: 4rem;
  margin-right: 1.5rem;
  -webkit-animation: roll-in-left 1.8s ease-out both;
  animation: roll-in-left 1.8s ease-out both;
  animation-delay: 2.5s;
}
.navbar__logo h3 {
  color: black;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
  animation-delay: 2.5s;
}
.navbar .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .links .before-menu {
  color: black;
  font-size: 3rem;
  margin-left: 4.5rem;
}
.navbar .links .hamburger-menu {
  color: black;
  -webkit-animation: bounce-in-top 1.1s forwards;
  animation: bounce-in-top 1.1s forwards;
  animation-delay: 2.5s;
}
.navbar__links {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0.2rem 0.2rem;
  border-radius: 4rem;
  background: #f25c78;
  background: linear-gradient(276deg, #f25c78 4%, #f27d52 62%, #f26b5e 100%);
  position: relative;
  -webkit-animation: bounce-in-top 1.1s forwards;
  animation: bounce-in-top 1.1s forwards;
  animation-delay: 2.5s;
  cursor: pointer;
}
.navbar__links li, .navbar__links a {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 1.5rem 5.5rem;
  border-radius: 4rem;
  color: white;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.navbar__links::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -0.4rem;
  left: 0;
  height: 110%;
  width: 100%;
  opacity: 0.7;
  border-radius: 4rem;
  background: inherit;
  filter: blur(8rem);
  /* Blurring the element for shadow effect */
  -webkit-filter: blur(0.2rem);
  -moz-filter: blur(0.2rem);
  -o-filter: blur(0.2rem);
  -ms-filter: blur(2.2rem);
  filter: blur(0.8rem);
}

.socials-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.603);
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.socials-modal .socials-modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem 4rem;
  font-size: 4.5rem;
  color: white;
  cursor: pointer;
}
.socials-modal .socials-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  max-width: 110rem;
  margin: auto;
  width: 100%;
  position: relative;
  top: 20%;
  left: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.socials-modal .socials-container .socials-text {
  width: 100%;
  height: 100%;
  padding: 3rem;
}
.socials-modal .socials-container .socials-text .socials-logo {
  margin-bottom: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
}
.socials-modal .socials-container .socials-text .socials-logo .l-img {
  height: 4rem;
  margin-right: 1rem;
}
.socials-modal .socials-container .socials-text .socials-logo .l-text {
  font-size: 2rem;
}
.socials-modal .socials-container .socials-text .socials-info h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.socials-modal .socials-container .socials-text .socials-info .my-info {
  font-size: 1.7rem;
  line-height: 1.9;
  color: #525252;
  margin-bottom: 2rem;
  width: 90%;
}
.socials-modal .socials-container .socials-text .links {
  margin-bottom: 2rem;
}
.socials-modal .socials-container .socials-text .links .social-link {
  font-size: 4rem;
  margin-right: 1rem;
  color: #F26B5E;
}
.socials-modal .socials-container .socials-text .links .social-link:hover {
  transform: scale(1.5);
  transition: 0.2s ease-in;
  color: #F2388F;
}
.socials-modal .socials-container .socials-text .social-exit .no-thanks {
  color: black;
  font-size: 1.5rem;
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
  text-decoration-color: #F26B5E;
  text-decoration-thickness: 0.2em;
}
.socials-modal .socials-container .socials-text .social-exit .no-thanks:hover {
  transition: 0.2s ease-in;
  text-decoration-color: #F2388F;
}
.socials-modal .socials-container .socials-img {
  background: #F26B5E;
}
.socials-modal .socials-container .socials-img img {
  height: 100%;
  width: 50rem;
}

.socials-modal--visible {
  visibility: visible;
  opacity: 1;
}

.show-project {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.603);
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.project-preview {
  display: flex;
  max-width: 100rem;
  margin: auto;
  width: 100%;
  height: 60%;
  position: relative;
  top: 20%;
  left: 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 5000;
}

.show-project-visible {
  visibility: visible;
  opacity: 1;
}

.portfolio {
  margin-top: 8vh;
  margin-bottom: 8vh;
  height: 110vh;
  background-image: linear-gradient(to right bottom, rgba(242, 125, 82, 0.699), rgba(242, 106, 94, 0.801));
  transition: 0.7s ease-in;
}
.portfolio .container {
  max-width: 180rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8rem;
}
.portfolio .project-text {
  display: flex;
  justify-content: space-between;
}
.portfolio .project-text .portfolio-text-left .text-destination {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  font-weight: 500;
}
.portfolio .project-text .portfolio-text-left .text-destination .divider {
  background: #F2388F;
  margin-right: 0.5rem;
  padding: 0rem 0.2rem;
}
.portfolio .project-text .portfolio-text-left .featured-text {
  font-size: 4.5rem;
  color: white;
  text-transform: uppercase;
}
.portfolio .project-text .portfolio-text-right .filter-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .project-text .portfolio-text-right .filter-projects .project {
  margin-right: 5rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.portfolio .project-text .portfolio-text-right .filter-projects .project:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in;
}
.portfolio .project-text .portfolio-text-right .filter-projects .active-project {
  color: white;
  text-decoration: underline;
  text-decoration-color: #F2388F;
  text-decoration-thickness: 0.2em;
}
.portfolio .portfolio-projects {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}
.portfolio .portfolio-projects .row-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 7rem;
}
.portfolio .portfolio-projects .row-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.portfolio .portfolio-projects .featured {
  height: 50rem;
  width: 55.5rem;
  background: inherit;
  background: url(https://danielkorpai.com/dist/img/dribbble/landing-page-template.png);
  margin-right: 4rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.portfolio .portfolio-projects .featured .project-description {
  height: 20vh;
  width: 100%;
  padding: 3rem;
  background: white;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.portfolio .portfolio-projects .featured .project-description h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.portfolio .portfolio-projects .featured .project-description .project-info {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  margin-bottom: 2rem;
}
.portfolio .portfolio-projects .featured-one {
  background: url(https://danielkorpai.com/dist/img/dribbble/landing-page-template.png);
}
.portfolio .portfolio-projects .featured-two {
  background: url(https://blog.uxfol.io/wp-content/uploads/2020/01/ux-portfolio-examples-1024x768.png);
}
.portfolio .portfolio-projects .featured-three {
  background: url(https://i.pinimg.com/originals/8a/c1/68/8ac168fc4a80fbcb60a51151becaf8e2.png);
}
.portfolio .portfolio-projects .featured-four {
  background: url(https://blog.uxfol.io/wp-content/uploads/2020/03/ux-portfolio-example.leslie.png);
}
.portfolio .portfolio-projects .featured-five {
  background: url(https://blog.uxfol.io/wp-content/uploads/2020/02/ux-portfolio-example-parth-desai.png);
}
.portfolio .portfolio-projects .featured6 {
  background: url(https://blog.uxfol.io/wp-content/uploads/2020/02/valeire-lee-portfolio.png);
}

.hidden {
  display: none !important;
}

.portfolio-height {
  margin-top: 8vh;
  margin-bottom: 8vh;
  background-image: linear-gradient(to right bottom, rgba(242, 125, 82, 0.699), rgba(242, 106, 94, 0.801));
  height: 80vh !important;
}

.bg-dark {
  background: rgba(0, 0, 0, 0.363);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}

.project-description-show {
  height: 23vh;
  width: 100%;
  padding: 3rem;
  background: white;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}
.project-description-show h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.project-description-show .project-info {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  margin-bottom: 2rem;
}
.project-description-show .project-icons .live-demo {
  padding: 1.5rem 2rem;
  cursor: pointer;
  border: none;
  margin-right: 1.4rem;
  border-radius: 0.5rem;
  background: #F25C78;
  font-weight: 600;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.project-description-show .project-icons .live-demo:hover {
  transition: 0.2s ease-in-out;
  background: #e45670;
}
.project-description-show .project-icons .github-code {
  padding: 1.5rem 2rem;
  cursor: pointer;
  border: none;
  margin-right: 1.4rem;
  border-radius: 0.5rem;
  background: #F2388F;
  font-weight: 600;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.project-description-show .project-icons .github-code:hover {
  transition: 0.2s ease-in-out;
  background: #dd3483;
}

@media only screen and (max-width: 600px) {
  .navbar {
    margin-top: 6rem;
    font-family: "Open Sans", sans-serif;
  }
  .navbar .container .navbar__logo {
    margin-left: 2rem;
  }
  .navbar .container .links .navbar__links {
    display: none;
  }
  .navbar .container .links .hamburger-menu {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    margin-top: 4vh;
    height: 70vh;
    z-index: 100;
  }
  .header__container {
    max-width: 180rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .header__container .text .text__heading {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: #f25c78;
    background: linear-gradient(276deg, #f25c78 4%, #f27d52 62%, #f26b5e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1rem;
    margin-top: 2rem;
  }
  .header__container .text__subheading {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }
  .header__container .text__info {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    width: 100%;
    line-height: 1.9;
    color: #525252;
  }
  .header__container img {
    height: 4rem;
    margin-bottom: 4rem;
  }
  .header__container .hand-bg {
    position: relative;
  }
  .header__container .hand-bg .hands {
    height: 10rem;
    position: absolute;
    left: -23rem;
    top: 18rem;
  }
}
@media only screen and (max-width: 600px) {
  .portfolio {
    margin-top: 8vh;
    margin-bottom: 8vh;
    height: 110vh;
    background-image: linear-gradient(to right bottom, rgba(242, 125, 82, 0.699), rgba(242, 106, 94, 0.801));
    transition: 0.7s ease-in;
  }
  .portfolio .container {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
  }
  .portfolio .container .project-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .portfolio .container .project-text .portfolio-text-left .text-destination {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  .portfolio .container .project-text .portfolio-text-left .text-destination .divider {
    background: #F2388F;
    margin-right: 0.5rem;
    padding: 0rem 0.2rem;
    display: none;
  }
  .portfolio .container .project-text .portfolio-text-left .featured-text {
    font-size: 2.6rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }
  .portfolio .container .project-text .portfolio-text-right .filter-projects {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio .container .project-text .portfolio-text-right .filter-projects .project {
    margin-right: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }
  .portfolio .container .project-text .portfolio-text-right .filter-projects .project:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
  }
  .portfolio .container .project-text .portfolio-text-right .filter-projects .active-project {
    color: white;
    text-decoration: underline;
    text-decoration-color: #F2388F;
    text-decoration-thickness: 0.2em;
  }
  .portfolio .container .portfolio-projects {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
  }
  .portfolio .container .portfolio-projects .row-one {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 7rem;
  }
  .portfolio .container .portfolio-projects .row-two {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .container .portfolio-projects .featured {
    height: 50rem;
    width: 100%;
    background: inherit;
    background: url(https://danielkorpai.com/dist/img/dribbble/landing-page-template.png);
    margin-right: 4rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .portfolio .container .portfolio-projects .featured .project-description {
    height: 30vh;
    width: 100%;
    padding: 4rem;
    background: white;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .portfolio .container .portfolio-projects .featured .project-description h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .portfolio .container .portfolio-projects .featured .project-description .project-info {
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .portfolio .container .portfolio-projects .featured1 {
    background: url(/bgslide/3.png);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navbar {
    margin-top: 5rem;
    font-family: "Open Sans", sans-serif;
  }
  .navbar .container .navbar__logo {
    margin-left: 2rem;
  }
  .navbar .container .links .navbar__links {
    display: none;
  }
  .navbar .container .links .menu {
    padding-right: 2rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    margin-top: 4vh;
    height: 70vh;
    z-index: 100;
  }
  .header__container {
    max-width: 180rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .header__container .text .text__heading {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: #f25c78;
    background: linear-gradient(276deg, #f25c78 4%, #f27d52 62%, #f26b5e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1rem;
    margin-top: 2rem;
  }
  .header__container .text__subheading {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }
  .header__container .text__info {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    width: 90%;
    margin: auto;
    line-height: 1.9;
    color: #525252;
  }
  .header__container img {
    height: 10rem;
    margin-bottom: 4rem;
    margin: auto;
  }
  .header__container .hand-bg {
    position: relative;
  }
  .header__container .hand-bg .hands {
    height: 10rem;
    position: absolute;
    left: -48rem;
    top: 18rem;
    height: 22rem;
  }
}/*# sourceMappingURL=main.css.map */