/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.7;
    // background: rgb(21,21,24);
    // background: linear-gradient(276deg, rgba(21,21,24,1) 4%, rgba(34,34,38,1) 62%, rgba(37,33,33,1) 100%);

    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
