// colors
$gradient1: #F25C78;
$gradient2: #F2388F;
$gradient3: #F27D52;
$gradient4: #F26B5E;

$primary-black: #222226;
$secondary-black: #363535;

// buttons
$btn-primary-size: 2.2rem 3rem;
$btn-radius: .5rem;

// font sizes
$header-font: 7rem;