// header:

.header {
    margin-top: 10vh;
    height: 47vh;
    z-index: 100;
    -webkit-animation: fade-in 3.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 3.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    &__container {
       @include containerFlex;
        margin: auto;
    }

    .text {

        .text__heading {
            font-size: 8rem;
            font-weight: 700;
            text-transform: uppercase;
	        @include glow-bg;
	        -webkit-background-clip: text;
	        background-clip: text;
	        -webkit-text-fill-color: transparent;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 1rem;

        }

        &__subheading {
            font-size: 4rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        &__info {
            font-size: 2rem;
            font-weight: 300;
            width: 45%;
            line-height: 1.9;
            color: rgb(82, 82, 82);
        }
    }

    img {
        height: 4rem;
        margin-bottom: 4rem;
    }

    .hand-bg {
        position: relative;
        

        .hands {
            height: 80rem;
            position: absolute;
            left: -95rem;
            top: -35rem;
        }
    }

}

// main:
