.portfolio {
  margin-top: 8vh;
  margin-bottom: 8vh;
  height: 110vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(242, 125, 82, 0.699),
    rgba(242, 106, 94, 0.801)
  );

  transition: 0.7s ease-in;

  .container {
    max-width: 180rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8rem;
  }

  .project-text {
    display: flex;
    justify-content: space-between;

    .portfolio-text-left {
      .text-destination {
        .divider {
          background: $gradient2;
          margin-right: 0.5rem;
          padding: 0rem 0.2rem;
        }
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
        text-transform: uppercase;
        font-weight: 500;
      }

      .featured-text {
        font-size: 4.5rem;
        color: white;
        text-transform: uppercase;
      }
    }

    .portfolio-text-right {
      .filter-projects {
        display: flex;
        align-items: center;
        justify-content: center;

        .project {
          margin-right: 5rem;
          font-size: 1.7rem;
          font-weight: 500;
          text-transform: uppercase;
          cursor: pointer;
        }

        .project:hover {
          transform: scale(1.2);
          transition: 0.2s ease-in;
        }

        .active-project {
          color: white;
          text-decoration: underline;
          text-decoration-color: $gradient2;
          text-decoration-thickness: 0.2em;
        }
      }
    }
  }

  .portfolio-projects {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;

    .row-one {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 7rem;
    }

    .row-two {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .featured {
      height: 50rem;
      width: 55.5rem;
      background: inherit;
      background: url(https://danielkorpai.com/dist/img/dribbble/landing-page-template.png);
      margin-right: 4rem;
      border-radius: 0.5rem;
      -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .project-description {
        height: 20vh;
        width: 100%;
        padding: 3rem;
        background: white;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;

        h3 {
          font-size: 3rem;
          margin-bottom: 1rem;
        }

        .project-info {
          font-size: 1.5rem;
          width: 80%;
          text-align: center;
          margin-bottom: 2rem;
        }

        
      }
    }

    .featured-one {
      background: url(/img/featured-one.png);
    }

    .featured-two {
      background: url(/img/featured-two.png);
    }

    .featured-three {
      background: url(/img/featured-three.png);
    }

    .featured-four {
      background: url(/img/featured-four.png);
    }

    .featured-five {
      background: url(/img/featured-five.png);
    }

    .featured-six {
      background: url(/img/featured-six.png);
    }
  }
}

.hidden {
  display: none !important;
}

.portfolio-height {
  margin-top: 8vh;
  margin-bottom: 8vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(242, 125, 82, 0.699),
    rgba(242, 106, 94, 0.801)
  );
  height: 80vh !important;
}

.bg-dark {
  background: rgba(0, 0, 0, 0.363);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}

.project-description-show {
  height: 23vh;
  width: 100%;
  padding: 3rem;
  background: white;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;

  h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .project-info {
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .project-icons {
    .live-demo {
      padding: 1.5rem 2rem;
      cursor: pointer;
      border: none;
      margin-right: 1.4rem;
      border-radius: 0.5rem;
      background: $gradient1;
      font-weight: 600;
      color: white;
      font-family: "Open Sans", sans-serif;
    }

    .live-demo:hover {
      transition: 0.2s ease-in-out;
      background: #e45670;
    }

    .github-code {
      padding: 1.5rem 2rem;
      cursor: pointer;
      border: none;
      margin-right: 1.4rem;
      border-radius: 0.5rem;
      background: $gradient2;
      font-weight: 600;
      color: white;
      font-family: "Open Sans", sans-serif;
    }

    .github-code:hover {
      transition: 0.2s ease-in-out;
      background: #dd3483;
    }
  }
}
