// navbar
@media only screen and (max-width: 600px){
    .navbar {
        margin-top: 6rem;
        font-family: 'Open Sans', sans-serif;

        .container {
            
            .navbar__logo {
                margin-left: 2rem;
            }

            .links .navbar__links  {
                display: none;

               }

            .links .menu {
                padding-right: 2rem;
            }
        }
    }



  
    
}



// header
@media only screen and (max-width: 600px) {
    .header {
        margin-top: 4vh;
        height: 70vh;
        z-index: 100;
    
        &__container {
           @include containerFlex;
            margin: auto;

            .text {
    
                .text__heading {
                    font-size: 4rem;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    @include glow-bg;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: 'Poppins', sans-serif;
                    letter-spacing: 1rem;
                    margin-top: 2rem;
        
                }
        
                &__subheading {
                    font-size: 2rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                    text-align: center;
                }
        
                &__info {
                    font-size: 1.5rem;
                    text-align: center;
                    font-weight: 300;
                    width: 100%;
                    line-height: 1.9;
                    color: rgb(82, 82, 82);
                }
            }
        
            img {
                height: 4rem;
                margin-bottom: 4rem;
            }
        
            .hand-bg {
                position: relative;
                
        
                .hands {
                    height: 10rem;
                    position: absolute;
                    left: -23rem;
                    top: 18rem;
                }
            }
        }
    
    }
}